<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solflower.choi.main.board.mapper.SolBoardMapper">	
<parameterMap type="java.util.Map" id="Map"/>

	<select id="findList" resultType="String">
		SELECT title
		  FROM solyi_board
	</select>

</mapper>